.header {
  position: fixed;
  z-index: 1000;
}
.nav {
  padding: 0 3rem 0 3rem;
  display: flex;
  @media screen and (max-width: $bp-small) {
    flex-direction: column;
    justify-content: center;
    height: 11vh;
  }

  width: 99vw;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  background-color: $base-color;

  &_items {
    display: flex;
    justify-content: center;
    gap: 3rem;
    @media screen and (max-width: $bp-small) {
      gap: 1.5rem;
      align-items: center;
    }
    @media screen and (max-width: $bp-smallest) {
      gap: 0.8rem;
    }
  }

  &_brand-name {
    margin-left: 4rem;
    @media screen and (max-width: $bp-medium) {
      margin-top: 1rem;
    }
    @media screen and (max-width: $bp-small) {
      margin: 0;
      margin-top: 0.3rem;
    }
    font-family: $font-brand;
    // color: $color-tertiary;
    font-size: 3.5rem;
    font-weight: 700;
    &-title {
      @media screen and (max-width: $bp-medium) {
        display: none;
      }
      @media screen and (max-width: $bp-small) {
        display: inline;
      }
    }
  }
  &_link {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-family: $font-nav-btn;
    font-weight: 700;
    text-decoration: none;
    color: $color-primary;
  }
}

.section_home {
  padding: 7rem;
  @media screen and (max-width: $bp-medium) {
    padding: 3rem;
  }
}
.home {
  padding: 2rem 3rem;
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: $bp-small) {
    flex-direction: column;
  }
  &_text {
    font-size: 1.7rem;
    font-family: $font-nav-btn;
    @media screen and (max-width: $bp-medium) {
      font-size: 1.3rem;
    }
  }
  &_svg {
    @media screen and (max-width: $bp-medium) {
      margin-top: 5rem;
    }
    &--1 {
      @media screen and (max-width: $bp-large) {
        height: 40rem;
        width: 40rem;
      }
      @media screen and (max-width: $bp-medium) {
        height: 30rem;
        width: 30rem;
      }
    }
  }
}

.section_about {
  padding: 3rem;
}
.edu__container__heading {
  padding-left: 5rem;
}

.edu__card {
  &__container {
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
    gap: 7rem;
    flex-wrap: wrap;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__degree {
    font-size: 4rem;
    font-weight: bold;
    margin-top: 1.5rem;
  }
  &__session {
    font-size: 2rem;
    color: $color-tertiary;
  }
  &__institute {
    font-size: 3rem;
    color: $color-tertiary;
  }
}

.marks__icon {
  &__number {
    position: absolute;
    z-index: 4;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    &__small {
      font-size: 2rem;
    }
  }
  &__circle {
    &__inner {
      position: relative;
      background-color: $color-white;
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
    }
    &__outer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 17rem;
      height: 17rem;
      border-radius: 50%;
      -webkit-box-shadow: 10px 10px 26px -15px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 26px -15px rgba(0, 0, 0, 0.75);
      box-shadow: 10px 10px 26px -15px rgba(0, 0, 0, 0.75);
      &--1 {
        background: conic-gradient($color-primary 94%, $color-white 0%);
      }
      &--2 {
        background: conic-gradient($color-primary 92.4%, $color-white 0%);
      }
      &--3 {
        background: conic-gradient($color-primary 79.4%, $color-white 0%);
      }
    }
  }
}
.section_skill {
  margin-top: 7rem;
  // padding: 2rem 7rem 7rem 7rem;
  padding: 5rem;
  @media screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-top: 1rem;
    // padding: 2rem 4rem 4rem 4rem;
  }
}

.skill {
  // padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5rem;
  &_content {
    width: 60%;
    @media screen and (max-width: $bp-medium) {
      width: auto;
    }
    &_icon{
      height: 6rem;
      width: 6rem;
    }
    &_icons {
      display: flex;
      flex-wrap: wrap;
      gap: 4rem;
    }
  }

  &_text {
    font-size: 1.8rem;
    @media screen and (max-width: $bp-medium) {
      font-size: 1.5rem;
    }
    font-family: $font-nav-btn;
    font-weight: 400;
  }
  &_svg {
    // align-self: center;
    &--1 {
      // @media screen and (max-width: $bp-large) {
      //   height: 40rem;
      //   width: 40rem;
      // }
      // @media screen and (max-width: $bp-medium) {
      //   height: 35rem;
      //   width: 35rem;
      // }
      // @media screen and (max-width: $bp-small) {
      //   height: 30rem;
      //   width: 30rem;
      // }
    }
  }
}

.section_hackathon {
  margin-top: 5rem;
  padding: 2rem 7rem 7rem 7rem;
  @media screen and (max-width: $bp-medium) {
    padding: 2rem 4rem 4rem 4rem;
  }
}
.p_card {
  height: 45rem;
  width: 35rem;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1) 30%,
    rgba(0, 0, 0, 0.7)
  );
}

.card {
  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20rem;
    justify-content: center;
  }
  &__bottom {
    height: 11rem;
    margin-top: 29rem;
    padding: 1.2rem;
    &__heading {
      font-size: 2.5rem;
      font-weight: bold;
      text-align: center;
      color: white;
      &__light {
        color: $color-primary;
      }
    }
    &__container {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
    }
    &__text {
      color: white;
      font-size: 1.6rem;
    }
    &__btn {
      font-size: 2rem;
      cursor: pointer;
      text-transform: capitalize;
      background-color: rgba(44, 43, 43, 0.705);
      color: $color-primary;
      outline: solid rgb(251, 251, 251) 1.5px;
      border-radius: 4px;
      border: none;
      padding: 0.7rem 3rem;
      letter-spacing: 0.2rem;
      &:hover {
        background-color: $color-primary;
        content: "View";
        color: white;
      }
    }
  }
  &-1 {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 45%,
        rgba(0, 0, 0, 0.7) 80%,
        rgba(0, 0, 0, 0.9)
      ),
      url("../img/farmBusiness.png");
    background-size: cover;
    transition: all 0.2s;
    &:hover {
      transform: scale(1.1);
      box-shadow: 0 1px 3rem rgba(0, 0, 0, 0.1), 0 1px 3rem rgba(0, 0, 0, 0.2);
    }
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  &-2 {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 45%,
        rgba(0, 0, 0, 0.7) 80%,
        rgba(0, 0, 0, 0.9)
      ),
      url("../img/labourChowk.png");
    background-size: cover;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.2s;
    &:hover {
      transform: scale(1.1);
      box-shadow: 0 1px 3rem rgba(0, 0, 0, 0.1), 0 1px 3rem rgba(0, 0, 0, 0.2);
    }
  }
  // &-3 {
  //   background-image: url("../img/bankist.png");
  //   background-size: cover;
  //   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  //   transition: all 0.2s;
  //   &:hover {
  //     transform: scale(1.1);
  //     box-shadow: 0 1px 3rem rgba(0, 0, 0, 0.1), 0 1px 3rem rgba(0, 0, 0, 0.2);
  //   }
  // }
}


// project section
.section_projects{
  padding: 5rem;
}

.project__container{
  background-color: #f4f4f4;
  // height: 80vh;
  width: 80vw;
  margin: auto;
  margin-top: 7rem;
  &__nav{
    background-color: $color-primary;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    padding: 2rem 3rem;
    &__btn{
      cursor: pointer;
      border-radius: 5px;
      border: 2px solid $color-white;
      background-color: rgba(225, 225, 225, 0.25);
      padding: 1rem 2rem;
      width: 15rem;
      font-size: 1.7rem;
      transition: all 0.3s;
      &:hover{
        box-shadow: .3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
      }
      &--inactive{
        background-color: rgba(225, 225, 225, 0.80);
        cursor: not-allowed;
      }
    }
  }
  &__cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem;
    @media screen and (max-width: $bp-large) {
      padding: 5rem; 
    }
    // @media screen and (max-width: $bp-medium) {
    //   padding: 3rem 5rem; 
    // }
    @media screen and (max-width: $bp-small) {
      padding: 2rem; 
    }
  }
}



.p__card {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 90vw;
  height: fit-content;
  margin: 1rem auto;
  background-color: #fff;
  border-bottom-right-radius: 0.25em;
  box-shadow: 0 4px 8px 1px #00000025;
  overflow: hidden;
}
.card-meta {
  position: relative;
  overflow: hidden;
}
.card-meta-img {
  width: 100%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1651421361361-802be1ab3b2b?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTM2NzE1NDA&ixlib=rb-1.2.1&q=80);
  background-size: cover;
  background-position: center;
}
.card-meta-detail {
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0.25em;
  padding: 0.25em;
  background-color: #00000080;
  color: #fff;
  font-size: 2rem;
  border-radius: 0.25em;
  opacity: 1;
}

.card-description {
  flex-basis: 100%;
  padding: 1.5rem 1rem 1.5rem 3rem;
  overflow: hidden;
  transition: 0.4s ease;
}
.card-description::before {
  content: "";
  display: none;
  position: absolute;
  width: 2rem;
  height: 100%;
  top: 0;
  left: 25%;
  background-color: #fff;
  z-index: 0;
  transform: skewX(-3deg);
  transition: left 0.4s ease;
}
.card-description-subtitle {
  font-size: 2rem;
  display: inline-block;
  position: relative;
  margin-bottom: 0.25em;
  color: #a2a2a2;
}
.card-description-subtitle::after {
  content: "";
  display: block;
  position: absolute;
  right: 100%;
  width: 2rem;
  height: 0.25em;
  background-color: $color-primary;
  border-radius: 0.5em;
  transition: animation 0.8s;
}
.p__card:hover .card-description-subtitle::after {
  animation: cardSubtitleAfter 0.8s forwards;
}
@keyframes cardSubtitleAfter {
  0% {
    right: 100%;
    width: 100%;
  }
  50% {
    right: 0;
    width: 2em;
  }
  100% {
    right: 100%;
    width: 2em;
  }
}
.card-description .read-more {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.5em 1em;
  background-color: $color-primary;
  color: #fff;
  border-top-left-radius: 0.25em;
  font-size: 2rem;
  transition: background-color 0.4s;
}
.card-description .read-more:hover {
  background-color: #8c8cf0;
}
.card-description-title{
  font-size: 3rem;
}
.card-description-content {
  font-size: 2rem;
  margin: 0.75em 0;
}
@media screen and (min-width: $bp-medium) {
  .p__card {
    flex-direction: row;
    // max-width: 40vw;
  }
  .card-meta {
    height: auto;
    flex-basis: 40%;
    transition: flex-basis 0.4s ease;
  }
  .card-description::before {
    display: none;
  }
  .card-meta-detail {
    direction: ltr;
  }
}

.project__details__list{
  font-size: 2rem;
  padding: 1.5rem;
}


.platform {
  padding: 5rem;
  padding-bottom: 10rem;
  margin-top: 15rem;
  &_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10rem;
    &_card {
      display: flex;
      flex-direction: column;
    }
  }
}

.footer {
  padding: 3rem;
  background-color: $color-secondary;
  color: $base-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.social_media {
  display: flex;
  gap: 5rem;
  &_link {
    color: $base-color;
  }
  @media screen and (max-width: $bp-small) {
    gap: 3rem;
  }
}
.icon {
  transition: all 0.2s;
  height: 4rem;
  @media screen and (max-width: $bp-small) {
    height: 3rem;
  }
  &:hover {
    color: $color-primary;
    transform: translateY(-0.15rem);
    transform: scale(1.2);
  }
}
.copyright {
  font-size: 1.7rem;
  font-family: "lato";
  font-style: italic;
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #fbfbfb;
  height: 5rem;
  width: 5rem;
  align-items: center;
  position: fixed;
  top: 48rem;
  right: 3.5rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 56.25em) {
  .navigation__button {
    font-size: 50%;
    right: 2.5rem;
  }
}

.night_mode_icon {
  height: 5rem;
  width: 5rem;
}
