.header {
  position: fixed;
  z-index: 1000;
}
.nav {
  // margin-top: 1rem;
  // padding-top: 10rem;
  // padding-bottom:10rem;
  padding: 0 3rem 0 3rem;
  display: flex;
  @media screen and (max-width: $bp-small) {
    flex-direction: column;
    justify-content: center;
    height: 15vh;
    // margin-bottom: 3rem;
  }

  width: 99vw;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  background-color: $base-color;
  // background-color: $color-tertiary;

  &_items {
    display: flex;
    justify-content: center;
    gap: 3rem;
    @media screen and (max-width: $bp-small) {
      gap: 1.5rem;
      align-items: center;
    }
    @media screen and (max-width: $bp-smallest) {
      gap: 0.8rem;
    }
  }

  &_brand-name {
    margin-left: 4rem;
    @media screen and (max-width: $bp-medium) {
      margin-top: 1rem;
    }
    @media screen and (max-width: $bp-small) {
      margin: 0;
      margin-top: 0.3rem;
    }
    font-family: $font-brand;
    // color: $color-tertiary;
    font-size: 3.5rem;
    font-weight: 700;
    &-title {
      @media screen and (max-width: $bp-medium) {
        display: none;
      }
      @media screen and (max-width: $bp-small) {
        display: inline;
      }
    }
  }
  &_link {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-family: $font-nav-btn;
    font-weight: 700;
    text-decoration: none;
    // &:not(:first-child){
    //     color: $color-primary;
    // }
    color: $color-primary;
  }
}

.section_home {
  padding: 7rem;
  @media screen and (max-width: $bp-medium) {
    padding: 3rem;
  }
}
.home {
  padding: 2rem 3rem;
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: $bp-small) {
    flex-direction: column;
  }
  &_text {
    font-size: 1.7rem;
    font-family: $font-nav-btn;
    @media screen and (max-width: $bp-medium) {
      font-size: 1.3rem;
    }
  }
  &_svg {
    @media screen and (max-width: $bp-medium) {
      margin-top: 5rem;
    }
    &--1 {
      @media screen and (max-width: $bp-large) {
        height: 40rem;
        width: 40rem;
      }
      @media screen and (max-width: $bp-medium) {
        height: 30rem;
        width: 30rem;
      }
    }
  }
}

.section_about {
  padding: 3rem;
  margin: 5rem auto;
  @media screen and (max-width: $bp-medium) {
    padding: 0rem;
    margin: 3rem 0;
    height: 75rem;
  }
  @media screen and (max-width: $bp-small) {
    height: 135rem;
  }
  @media screen and (max-width: $bp-smallest) {
    height: 150rem;
  }
}
.edu__container__heading {
  padding-left: 5rem;
}

.edu__card {
  &__container {
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
    gap: 7rem;
    flex-wrap: wrap;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__degree {
    font-size: 4rem;
    font-weight: bold;
    margin-top: 1.5rem;
  }
  &__session {
    font-size: 2rem;
    color: $color-tertiary;
  }
  &__institute {
    font-size: 3rem;
    color: $color-tertiary;
  }
}

.marks__icon {
  &__number {
    position: absolute;
    z-index: 4;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    &__small {
      font-size: 2rem;
    }
  }
  &__circle {
    &__inner {
      position: relative;
      background-color: $color-white;
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
    }
    &__outer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 17rem;
      height: 17rem;
      border-radius: 50%;
      -webkit-box-shadow: 10px 10px 26px -15px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 26px -15px rgba(0, 0, 0, 0.75);
      box-shadow: 10px 10px 26px -15px rgba(0, 0, 0, 0.75);
      &--1 {
        background: conic-gradient($color-primary 94%, $color-white 0%);
      }
      &--2 {
        background: conic-gradient($color-primary 92.4%, $color-white 0%);
      }
      &--3 {
        background: conic-gradient($color-primary 79.4%, $color-white 0%);
      }
    }
  }
}
.section_skill {
  padding: 2rem 7rem 7rem 7rem;
  @media screen and (max-width: $bp-medium) {
    padding: 2rem 4rem 4rem 4rem;
  }
}
.skill {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-items: right;
  flex-direction: row;
  gap: 12rem;
  @media screen and (max-width: $bp-small) {
    flex-direction: column;
    padding: 3rem;
  }
  &_text {
    font-size: 1.8rem;
    @media screen and (max-width: $bp-medium) {
      font-size: 1.5rem;
    }
    font-family: $font-nav-btn;
    font-weight: 400;
  }
  &_svg {
    margin-top: 3rem;
    &--1 {
      @media screen and (max-width: $bp-large) {
        height: 40rem;
        width: 40rem;
      }
      @media screen and (max-width: $bp-medium) {
        height: 35rem;
        width: 35rem;
      }
      @media screen and (max-width: $bp-small) {
        height: 30rem;
        width: 30rem;
      }
    }
  }
}

.section_project {
  padding: 2rem 7rem 7rem 7rem;
  @media screen and (max-width: $bp-medium) {
    padding: 2rem 4rem 4rem 4rem;
  }
  // text-align: center;
}
.p_card {
  height: 40rem;
  width: 35rem;
  overflow: hidden;
}

.card {
  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 15rem;
    justify-content: center;
  }
  &__bottom {
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.7)
    );
    height: 11rem;
    margin-top: 29rem;
    padding: 1.2rem;
    &__heading {
      font-size: 2.3rem;
      text-align: center;
      color: white;
      &__light {
        color: $color-primary;
      }
    }
    &__container {
      padding: 1rem;
      display: flex;
      align-items: center;
    }
    &__text {
      color: white;
      font-size: 1.5rem;
    }
    &__btn {
      font-size: 1.6rem;
      cursor: pointer;
      text-transform: capitalize;
      background-color: rgba(44, 43, 43, 0.705);
      color: $color-primary;
      outline: solid rgb(251, 251, 251) 1.5px;
      border-radius: 4px;
      border: none;
      padding: 0.7rem 3rem;
      letter-spacing: 0.2rem;
      &:hover {
        background-color: $color-primary;
        content: "View";
        color: white;
      }
    }
  }
  &-1 {
    background-image: url("../img/natrus.png");
    background-size: cover;
    transition: all 0.2s;
    &:hover {
      transform: scale(1.1);
      box-shadow: 0 1px 3rem rgba(0, 0, 0, 0.1), 0 1px 3rem rgba(0, 0, 0, 0.2);
    }
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  &-2 {
    background-image: url("../img/mapty.png");
    background-size: cover;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.2s;
    &:hover {
      transform: scale(1.1);
      box-shadow: 0 1px 3rem rgba(0, 0, 0, 0.1), 0 1px 3rem rgba(0, 0, 0, 0.2);
    }
  }
  &-3 {
    background-image: url("../img/bankist.png");
    background-size: cover;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.2s;
    &:hover {
      transform: scale(1.1);
      box-shadow: 0 1px 3rem rgba(0, 0, 0, 0.1), 0 1px 3rem rgba(0, 0, 0, 0.2);
    }
  }
}

.platform {
  padding: 5rem;
  padding-bottom: 10rem;
  margin-top: 15rem;
  &_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10rem;
    &_card {
      display: flex;
      flex-direction: column;
    }
    // flex-direction: row;
  }
}

.footer {
  // margin: 0 -2.5rem -2.5rem -2.5rem;

  padding: 3rem;
  background-color: $color-secondary;
  color: $base-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.social_media {
  display: flex;
  gap: 5rem;
  &_link {
    color: $base-color;
  }
  @media screen and (max-width: $bp-small) {
    gap: 3rem;
  }
}
.icon {
  transition: all 0.2s;
  height: 4rem;
  @media screen and (max-width: $bp-small) {
    height: 3rem;
  }
  &:hover {
    color: $color-primary;
    transform: translateY(-0.15rem);
    transform: scale(1.2);
  }
}
.copyright {
  font-size: 1.7rem;
  font-family: "lato";
  font-style: italic;
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #fbfbfb;
  height: 5rem;
  width: 5rem;
  align-items: center;
  position: fixed;
  top: 48rem;
  right: 3.5rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 56.25em) {
  .navigation__button {
    font-size: 50%;
    right: 2.5rem;
  }
}

.night_mode_icon {
  height: 5rem;
  width: 5rem;
}
