.heading-primary{
    &--dark{
        font-size: 4.5rem;  
        font-family: $font-nav-btn;      
    }
    &--light{
        font-size: 4.5rem;
        color: $color-primary;
    }

}

.heading-secondary {
    font-size: 3.5rem;
    font-family: $font-nav-btn;
    font-weight: 500;
    &--dark {
        color: $color-primary;
    }
}
.icon {
    transition: all 0.2s;
    // background-color: $color-primary;
    &:hover {
        color: $color-primary;
        transform: translateY(-0.15rem);
        transform: scale(1.2);
    }
}